@font-face {
    font-family: "HKGrotesk";
    src: url(HKGrotesk-Regular.woff);
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "HKGrotesk";
    src: url(HKGrotesk-Bold.woff);
    font-weight: bold;
    font-style: bold;
  }


* {
    list-style-type: none;
    font-family: "HKGrotesk";
}

html {
    font-size: 2vh;
}

body {
    width: 100%;
    margin: 0;
    margin-top: 100px;
    height: auto;
}

p {
    width: 50%;
    margin: 100px 0px 100px 50px;
}

hr {
    margin: 0 10%;
}

/* NavBar Menu */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 91%;
    height: 10%;
    margin: 0 0;
    padding: 0 50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:  white;
    z-index: 9999;
    font-size: 2rem;
    font-family: "HK Grotesk";
    letter-spacing: 0.15rem;
}

a {
    color: rgba(38, 38, 38, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: greenyellow;
}

.navbar-title {
    color:  rgba(255, 0, 0, 1);
}

.navbar-title:active {
    color:  greenyellow;
}

.navbar-contact:hover {
    animation: navbar-contact;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes navbar-contact {
    0% { transform: skewX(-10deg); }
    10% { transform: skewX(15deg); }
    20% { transform: skewX(-15deg); }
    30% { transform: skewX(10deg); }
    40% { transform: skewX(-15deg); }
    50% { transform: skewX(20deg); }
    60% { transform: skewX(-15deg); }
    70% { transform: skewX(10deg); }
    80% { transform: skewX(-20deg); }
    90% { transform: skewX(15deg); }
    100% { transform: skewX(-15deg); }  
  }


@keyframes title-colors {
    0% {
      color: white;
    }
  
    25% {
      color: greenyellow;
    }

    50% {
        color: white;
    }

    75% {
      color: greenyellow;
    }
    
}

.navbar-active-title {
    color: white;
    text-align: center;
    animation-duration: 3s;
    animation-name: title-colors;
    animation-iteration-count: infinite;    
}



/* body text */

.about-me {
    width: 90%;
    font-size: 1rem;
}

.text-container {
    padding: 50 0;
    text-align: center;
}

.text-title {
    font-size: 1rem;
    font-weight: normal;
    text-decoration: underline;
}  /* can be deleted? */



/* home menu */

.home-menu {
    width: 100%;
    padding: 15vh 0;
    font-size: 2rem;
    text-align: center;
    line-height: 4rem;
}

.menu-item:hover {
    animation-duration: 1.5s;
    animation-name: home-menu-animate;
    background-color: red;
    color: white;
}

.menu-item:active {
    animation-duration: 1.5s;
    animation-name: home-menu-animate;
    background-color: greenyellow;
    color: white;
}


small {
    font-size: 0.6rem;
    color:  rgba(255, 0, 0, 1);
}


/* project page */

.project-head {
    margin: 120px 10% 0 10%;
    width: fit-content;
}

.project-title {
    color: rgba(38, 38, 38, 1);
    font-size: 6rem;
    font-weight: bolder;
    line-height: 80%;
}

.project-sub {
    display: flex;
    justify-content: flex-start;
    width: auto;
    color: red;
    font-size: 1.5rem;
}

.project-tools {
    width: auto;
    color: rgba(173, 255, 47, 1);
    color: rgba(38, 38, 38, 1);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 6px;
}

.project-text {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    column-gap: 25px;
    row-gap: 25px;
    font-size: 1rem;
    text-align: left;
    margin: 25px 10% 20px 10%;
    color: rgba(38, 38, 38, 1);
}

.project-text div {
    width: auto;
}

#text-brief {
    grid-column-start: 1;
    grid-column-end:1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#text-challenges-1 {
    grid-column-start: 1;
    grid-row-start: 2;
}

#text-challenges-2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

#text-challenges-3 {
    grid-column-start: 3;
    grid-row-start: 2;
}



/* gallery images */

.gallery-container {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(10, auto);
    width: 1150px;
    column-gap: 65px;
    justify-content: left;
    background-color: rgba(255, 255, 255, 1);
    margin: 50px 10% 0 10%;
    font-size: 1rem;
    overflow: visible;
    object-fit: contain;
}

.gallery-text {
    width: 100%;
    height: auto;
    padding: 0 0;
    grid-column-start: 1;
}

.gallery {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 25px;
    width: 92%;
    height: auto;
    padding: 0 0;
    grid-column-start: 2;
}

.gallery-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}



/* thumbnail index */

.thumb-index {
    position: relative;
    width: 91%;
    padding: 50 0;
    display: flex;
    flex-flow: row wrap;
    gap: 50px 50px;
    justify-content: center;
    overflow: hidden;
    margin: 0 50px;
}

.thumb-index ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

.thumb-item {
    width: 400px;
    height: 280px;
    border-radius: 3px;
    border: 1px solid black;
}

.thumb-item:hover {
    color: white;
}

figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

.thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.thumb-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 280px;
    color: white;
    font-size: 1.5rem;
    position: relative;
    top: -280px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0%;
    transition: 0.5s;
    z-index: 1;
}

.thumb-text:hover {
    opacity: 100%;
}


/* footer */

footer {
    width: auto;
    position: fixed;
    bottom: 50;
    background-color: rgba(255, 0, 0, 1);
    margin: 0%;
    margin-left: 50px;
    color: white;
    z-index: 9999;
}

footer a {
    color: rgba(255, 255, 255, 1);
    transition: 0.5s;
}

#footer-animate:active {
    animation-duration: 0.5s;
    animation-name: footer-animate;
}

@keyframes footer-animate {
    0% {
        transform: rotate(0deg);
        background-color: greenyellow;
    }

    100% {
        transform: rotate(360deg);
    }
}






/* end */



/* contact form */

.contant-form {
    padding: 0px;
}

form {
    border: 5px solid black;
    border-radius: 5px;
    padding: 50px 50px;
}

#name {
    background-color: white;
    padding: 20px;
    font-size: 1rem;
    margin: 20 0;
}

#email {
    background-color: white;
    padding: 20px;
    font-size: 1rem;
    margin: 20 0;
}

#note {
    height: 180px;
    width: 100%;
    background-color: white;
    padding: 20px;
    font-size: 1rem;
    margin: 20 0;
}

#submit {
    background-color: white;
    padding: 0px;
    font-size: 1rem;
    transition: 0.2s;
}

#submit:hover {
    background-color: rgba(173, 255, 47, 1);
}

#submit:active {
    background-color: rgba(90, 210, 0, 1);
    font-weight: bold;
}

input, textarea {
    width: 450px;
    height: 60px;
    border: 5px solid black;
    border-radius: 5px;
}

