@font-face {
    font-family: "HKGrotesk";
    src: url(HKGrotesk-Regular.woff);
    font-weight: normal;
    font-style: normal;
  }

* {
    list-style-type: none;
    font-family: 'HKGrotesk';
}

html {
    font-size: 24px;
    margin: 25px;
}

body {
    width: auto;
    margin-top: 100px;
}

/* NavBar Menu */

.sidebar-container {
    position: fixed;
    top: 0;
    width: 94%;
    margin-top: 0;
    padding: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 9999;
    font-size: 1.2rem;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    font-weight: bold;
}

.menu-item:hover {
    text-decoration: underline;
}

.menu-title {
    color: red;
    letter-spacing: 0.15rem;
}

.menu-title:hover {
    animation-duration: 2s;
    animation-name: title-colors;
    animation-iteration-count: infinite;
}

@keyframes title-colors {
    0% {
      color: red;
    }
  
    25% {
      color: greenyellow;
    }

    50% {
        color: red;
    }

    75% {
      color: greenyellow;
    }
}

/* body text */

.about-me {
    width: 90%;
    font-size: 1rem;
}

.text-container {
    padding: 10 0;
    text-align: center;
}

.text-title {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
}

/* body list */

.body-list {
    padding: 50 0;
    font-size: 28px;
}

small {
    font-size: 0.6rem;
    color: red;
}

/* footer */

footer {
    width: fit-content;
    position: absolute;
    bottom: 50;
    background-color: red;
}

footer a {
    color: white;
}
